<a href="https://colab.research.google.com/github/trxmaschine/homewrks/blob/lvl-2/Home_works_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [124]:
import pandas as pd

### Считывание датасета

In [125]:
df = pd.read_excel('Реестр_выполненных_рейсов_за_период.xlsx', header=1).drop(columns=['Unnamed: 0', 'В/П', 'Время рейса план','Actual data time','ONB and OFB','Кл.1','Кл.2','Кл.3','Unnamed: 15','Unnamed: 13'])
df.head()

/usr/local/lib/python3.11/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,№ рейса,Код АП,Маршрут,Борт,Компоновка,Вместимость,Обслужено пассажиров,Взр,Дети,До 2-лет,"МВМ, тонн",Тип ВС,АВК,Направление,Катег,Baggage Weight,Spot Number
0,DP 204,VKO,ВНУКОВО,RA73232,Y189,189.0,115.0,107.0,8.0,0.0,75.296,73H,1.0,Domestic,J,143.0,106A
1,FZ 992,DXB,ДУБАЙ,A6FMJ,174,166.0,132.0,115.0,17.0,1.0,82.190,7M8,1.0,International,J,1396.0,104B
2,2S 204,AYT,АНТАЛЬЯ,TCGRA,Y345,312.0,342.0,288.0,54.0,0.0,233.000,332,1.0,International,J,3881.0,105
3,JU 124,BEG,БЕЛГРАД,YUAPN,12J126Y,144.0,66.0,57.0,9.0,0.0,70.000,319,1.0,International,J,1159.0,104B
4,SU 734,SSH,ШАРМ-ЭЛЬ-ШЕЙХ,73785,C28Y268,296.0,283.0,248.0,35.0,2.0,230.000,333,1.0,International,J,3243.0,103

### Основная информация о датасете:

In [126]:
df.describe()

,Вместимость,Обслужено пассажиров,Взр,Дети,До 2-лет,"МВМ, тонн",АВК,Baggage Weight
count,11268.000000,1.126700e+04,1.126900e+04,11269.000000,11269.000000,11269.000000,11268.0,11243.000000
mean,147.469027,2.539123e+02,2.398177e+02,13.873281,1.851273,142.676610,1.0,745.221382
std,56.719575,1.347482e+04,1.272796e+04,736.331751,98.262639,7572.382994,0.0,792.998891
min,19.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,17.200000,1.0,-690.000000
25%,93.000000,8.400000e+01,8.000000e+01,2.000000,0.000000,45.880000,1.0,295.000000
50%,148.000000,1.230000e+02,1.170000e+02,5.000000,0.000000,73.500000,1.0,492.000000
75%,189.000000,1.710000e+02,1.610000e+02,9.000000,1.000000,77.337000,1.0,844.000000
max,457.000000,1.430415e+06,1.351253e+06,78169.000000,10431.000000,803911.357000,1.0,11106.000000

In [138]:
df.shape

(11271, 17)

In [139]:
df.select_dtypes(include=['object']).describe()

,№ рейса,Код АП,Маршрут,Борт,Компоновка,Тип ВС,Направление,Катег,Spot Number
count,11269,11268,11242,11268,11252,11268,11268,11268,11268
unique,821,102,101,628,200,30,2,4,106
top,DP 572,SVO,ШЕРЕМЕТЬЕВО,RA73651,C12Y75,SU9,Domestic,J,106A
freq,32,1703,1703,165,2360,3378,9370,9667,553

In [140]:
df.index

RangeIndex(start=0, stop=11271, step=1)

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11271 entries, 0 to 11270
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   № рейса               11269 non-null  object
 1   Код АП                11268 non-null  object
 2   Маршрут               11242 non-null  object
 3   Борт                  11268 non-null  object
 4   Компоновка            11252 non-null  object
 5   Вместимость           11268 non-null  float64
 6   Обслужено пассажиров  11267 non-null  float64
 7   Взр                   11269 non-null  float64
 8   Дети                  11269 non-null  float64
 9   До 2-лет              11269 non-null  float64
 10  МВМ, тонн             11269 non-null  float64
 11  Тип ВС                11268 non-null  object
 12  АВК                   11268 non-null  float64
 13  Направление           11268 non-null  object
 14  Катег                 11268 non-null  object
 15  Baggage Weight        11243 non-null  float64
 16  Spot Number           11268 non-null  object
dtypes: float64(8), object(9)
memory usage: 1.5+ MB

In [128]:
df.isna().sum()

№ рейса                  2
Код АП                   3
Маршрут                 29
Борт                     3
Компоновка              19
Вместимость              3
Обслужено пассажиров     4
Взр                      2
Дети                     2
До 2-лет                 2
МВМ, тонн                2
Тип ВС                   3
АВК                      3
Направление              3
Катег                    3
Baggage Weight          28
Spot Number              3
dtype: int64

### % Выполненных рейсов по каждому из АП, ТОП 10 АП

In [145]:
df1 = df.dropna(subset='Код АП').copy()
df1[df1.isna().any(axis=1)]
df1['Код АП'].value_counts(normalize=True,ascending=False).head(10)

Код АП
SVO    0.151136
VKO    0.093007
KGD    0.059283
AER    0.038516
KZN    0.032481
MMK    0.029020
SVX    0.027867
ARH    0.027778
KUF    0.024050
UFA    0.021743
Name: proportion, dtype: float64

###№#ТОП 10 АП по Domestic

In [146]:
df2 = df1[df1['Направление'] == 'Domestic'] # фильтруем направление, дублируем таблицу
df2.head(10)
df2['Код АП'].value_counts(normalize=True,ascending=False).head(10)

Код АП
SVO    0.181750
VKO    0.111846
KGD    0.071291
AER    0.046318
KZN    0.039061
MMK    0.034899
SVX    0.033511
ARH    0.033404
KUF    0.028922
UFA    0.026147
Name: proportion, dtype: float64

### Самые популярный аэропорт в Domestic и International зоне

In [131]:
df2['Маршрут'].value_counts(ascending=False).head(1) # Domestic

Маршрут
ШЕРЕМЕТЬЕВО    1703
Name: count, dtype: int64

In [132]:
df3 = df1[df1['Направление'] == 'International']
df3['Маршрут'].value_counts(ascending=False).head(1) # international

Маршрут
СТАМБУЛ    320
Name: count, dtype: int64

### Часть таблицы и рейсы с катег "С" в Салехард с order by Baggage Weight по убыванию

In [161]:
df4 = df[(df['Катег'] == 'C') & (df['Маршрут'] == 'САЛЕХАРД')]
df4.sort_values(by=['Baggage Weight'], ascending=[False])

,№ рейса,Код АП,Маршрут,Борт,Компоновка,Вместимость,Обслужено пассажиров,Взр,Дети,До 2-лет,"МВМ, тонн",Тип ВС,АВК,Направление,Катег,Baggage Weight,Spot Number
9511,YC 9716,SLY,САЛЕХАРД,RA67219,C14,19.0,5.0,5.0,0.0,0.0,24.04,CR2,1.0,Domestic,C,180.0,262
8941,YC 9715,SLY,САЛЕХАРД,67219,14,19.0,6.0,6.0,0.0,0.0,24.04,CR2,1.0,Domestic,C,40.0,262

#### Выводим среднюю МВМ и Вместимость с группировкой по направлению и типу ВС

In [164]:
df1.groupby(["Тип ВС","Направление"])[["Вместимость","МВМ, тонн"]].mean()

                      Вместимость   МВМ, тонн
Тип ВС Направление
319    Domestic        128.208817   70.077146
       International   132.700565   69.751412
320    Domestic        158.302013   76.406040
       International   159.610619   76.225664
321    Domestic        215.638298   89.170213
       International   190.000000   89.000000
32A    Domestic        151.274538   75.500000
       International   148.000000   75.184211
32B    Domestic        189.848485   91.113636
       International   214.000000   89.533333
32N    Domestic        176.170732   75.213415
       International   181.947368   76.964912
32Q    Domestic        237.549708   93.520468
       International   223.879828   93.510730
332    Domestic        361.476190  233.000000
       International   287.278689  234.245902
333    Domestic        298.692308  233.365385
       International   302.725664  233.238938
733    International   148.000000   63.134000
735    Domestic        126.000000   56.850000
       International   123.000000   56.233333
739    International   184.000000   85.139000
73G    Domestic        140.000000   70.080000
73H    Domestic        188.229361   76.871667
       International   174.542510   78.344777
73W    Domestic        148.000000   67.269776
       International   120.000000   69.512500
752    International   238.000000  115.892000
763    International   313.750000  186.313000
772    International   429.500000  289.448500
77W    Domestic        420.333333  325.074000
       International   354.000000  351.030000
789    Domestic        290.000000  250.836000
       International   290.000000  243.900960
7M8    International   166.848485   82.190000
A26    Domestic         40.000000   24.000000
CR1    Domestic         50.000000   24.040000
CR2    Domestic         49.500000   24.034194
E75    International    76.000000   38.790000
E90    Domestic        110.000000   50.300000
E95    International   107.000000   50.790000
S9S    Domestic         93.000000   45.880000
SU9    Domestic         90.282105   46.103326
       International   100.000000   49.450000
YK4    Domestic         30.000000   17.200000